[submodule "roles/ansible-alacritty"]
	path = roles/ansible-alacritty
	url = git@github.com:pinpox/ansible-alacritty.git
[submodule "roles/ansible-i3"]
	path = roles/ansible-i3
	url = git@github.com:pinpox/ansible-i3.git
[submodule "roles/ansible-neomutt"]
	path = roles/ansible-neomutt
	url = git@github.com:pinpox/ansible-neomutt.git
[submodule "roles/ansible-polybar"]
	path = roles/ansible-polybar
	url = git@github.com:pinpox/ansible-polybar.git
[submodule "roles/ansible-rofi"]
	path = roles/ansible-rofi
	url = git@github.com:pinpox/ansible-rofi.git
