[Desktop Entry]
Name=Neovim (Termite)
GenericName=Text Editor
Comment=Edit text files
TryExec=nvim
Exec=termite -e 'nvim %F'
Terminal=false
Type=Application
Keywords=Text;editor;
Icon=nvim
Categories=Utility;TextEditor;
StartupNotify=true
